.faq-container{
    margin-top: 100px;
    .heading{
        color: white;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    .accordian{
        margin: 0px 100px 0px 100px;
        .accordian-section{
            display: flex;
            justify-content: space-between;
            .sub-heading{
                color: white;
                font-size: 20px;
                font-weight: 700;
                font-family: "Poppins", sans-serif;
            }
            .content{
                color: white;
                font-size: 24px;
            }
        }
        .sub-content{
            color: #ADB2B1;
            font-size: 16px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            text-align: left;
        }
    }

    .accordian-one{
        margin:10px 100px 10px 100px;
        .accordian-section{
            display: flex;
            justify-content: space-between;
            .sub-heading{
                color: white;
                font-size: 20px;
                font-weight: 700;
                font-family: "Poppins", sans-serif;
            }
            .content{
                color: white;
                font-size: 24px;
            }
        }
        .sub-content{
            color: #ADB2B1;
            font-size: 16px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            text-align: left;
        }
    }
    .divider{
        background-color: white;
        margin: 0px 100px 0px 100px;
    }
}